.jsdoc
{
    overflow: auto;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.5;
    color: #4d4e53;
    background-color: white;
}

.jsdoc a, .jsdoc a:visited, .jsdoc a:active {
    color: #0095dd;
    text-decoration: none;
}

.jsdoc a:hover {
    text-decoration: underline;
}

.jsdoc header
{
    display: block;
    padding: 0px 4px;
}

.jsdoc {
    background: #fff;
}

.jsdoc tt, .jsdoc code, .jsdoc kbd, .jsdoc samp {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.jsdoc .class-description {
    font-size: 130%;
    line-height: 140%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.jsdoc .class-description:empty {
    margin: 0;
}

.jsdoc #main {
    float: left;
    width: 70%;
}

.jsdoc article dl {
    margin-bottom: 40px;
}

.jsdoc article img {
  max-width: 100%;
}

.jsdoc section
{
    display: block;
    background-color: #fff;
    padding: 12px 24px;
    border-bottom: 1px solid #ccc;
    margin-right: 30px;
}

.jsdoc .variation {
    display: none;
}

.jsdoc .signature-attributes {
    font-size: 60%;
    color: #aaa;
    font-style: italic;
    font-weight: lighter;
}

.jsdoc nav
{
    display: block;
    float: right;
    margin-top: 28px;
    width: 30%;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    padding-left: 16px;
}

.jsdoc nav ul {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    font-size: 100%;
    line-height: 17px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.jsdoc nav ul a, .jsdoc nav ul a:visited, .jsdoc nav ul a:active {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    line-height: 18px;
    color: #4D4E53;
}

.jsdoc nav h3 {
    margin-top: 12px;
}

.jsdoc nav li {
    margin-top: 6px;
}

.jsdoc footer {
    display: block;
    padding: 6px;
    margin-top: 12px;
    font-style: italic;
    font-size: 90%;
}

.jsdoc h1, .jsdoc h2, .jsdoc h3, .jsdoc h4 {
    font-weight: 200;
    margin: 0;
}

.jsdoc h1
{
    font-family: 'Open Sans Light', sans-serif;
    font-size: 48px;
    letter-spacing: -2px;
    margin: 12px 24px 20px;
}

.jsdoc h2, .jsdoc h3.subsection-title
{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 12px;
}

.jsdoc h3
{
    font-size: 24px;
    letter-spacing: -0.5px;
    margin-bottom: 12px;
}

.jsdoc h4
{
    font-size: 18px;
    letter-spacing: -0.33px;
    margin-bottom: 12px;
    color: #4d4e53;
}

.jsdoc h5, .jsdoc .container-overview .subsection-title
{
    font-size: 120%;
    font-weight: bold;
    letter-spacing: -0.01em;
    margin: 8px 0 3px 0;
}

.jsdoc h6
{
    font-size: 100%;
    letter-spacing: -0.01em;
    margin: 6px 0 3px 0;
    font-style: italic;
}

.jsdoc table
{
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
}

.jsdoc td, .jsdoc th
{
    border: 1px solid #ddd;
    margin: 0px;
    text-align: left;
    vertical-align: top;
    padding: 4px 6px;
    display: table-cell;
}

.jsdoc thead tr
{
    background-color: #ddd;
    font-weight: bold;
}

.jsdoc th { border-right: 1px solid #aaa; }
.jsdoc tr > th:last-child { border-right: 1px solid #ddd; }

.jsdoc .ancestors, .jsdoc .attribs { color: #999; }
.jsdoc .ancestors a, .jsdoc .attribs a
{
    color: #999 !important;
    text-decoration: none;
}

.jsdoc .clear
{
    clear: both;
}

.jsdoc .important
{
    font-weight: bold;
    color: #950B02;
}

.jsdoc .yes-def {
    text-indent: -1000px;
}

.jsdoc .type-signature {
    color: #aaa;
}

.jsdoc .name, .jsdoc .signature {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.jsdoc .details { margin-top: 14px; border-left: 2px solid #DDD; }
.jsdoc .details dt { width: 120px; float: left; padding-left: 10px;  padding-top: 6px; }
.jsdoc .details dd { margin-left: 70px; }
.jsdoc .details ul { margin: 0; }
.jsdoc .details ul { list-style-type: none; }
.jsdoc .details li { margin-left: 30px; padding-top: 6px; }
.jsdoc .details pre.prettyprint { margin: 0 }
.jsdoc .details .object-value { padding-top: 0; }

.jsdoc .description {
    margin-bottom: 1em;
    margin-top: 1em;
}

.jsdoc .code-caption
{
    font-style: italic;
    font-size: 107%;
    margin: 0;
}

.jsdoc .source
{
    border: 1px solid #ddd;
    width: 80%;
    overflow: auto;
}

.jsdoc .prettyprint.source {
    width: inherit;
}

.jsdoc .source code
{
    font-size: 100%;
    line-height: 18px;
    display: block;
    padding: 4px 12px;
    margin: 0;
    background-color: #fff;
    color: #4D4E53;
}

.jsdoc .prettyprint code span.line
{
  display: inline-block;
}

.jsdoc .prettyprint.linenums
{
  padding-left: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jsdoc .prettyprint.linenums ol
{
  padding-left: 0;
}

.jsdoc .prettyprint.linenums li
{
  border-left: 3px #ddd solid;
}

.jsdoc .prettyprint.linenums li.selected,
.jsdoc .prettyprint.linenums li.selected *
{
  background-color: lightyellow;
}

.jsdoc .prettyprint.linenums li *
{
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.jsdoc .params .name, .jsdoc .props .name, .jsdoc .name code {
    color: #4D4E53;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 100%;
}

.jsdoc .params td.description > p:first-child,
.jsdoc .props td.description > p:first-child
{
    margin-top: 0;
    padding-top: 0;
}

.jsdoc .params td.description > p:last-child,
.jsdoc .props td.description > p:last-child
{
    margin-bottom: 0;
    padding-bottom: 0;
}

.jsdoc .disabled {
    color: #454545;
}
