body {
  margin: 0;
  font-family: Avenir, Times;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;

  --brand-primary: #44D7B6;
  --brand-secondary: #FF788B;
  --brand-tertiary: #161e49;
  --brand-company: #D9FFF9;
  --brand-company-faded: #f8fffe;
  --brand-person: #EEEAFF;
  --brand-person-faded:#FCFBFF;
  --brand-warning: #FFD521;
  --brand-other: #fef6ef;
  
  --basic-shadow: #ccc;
  --basic-shadow-light: #F9F9F9;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-text: #505050;
  --highlight: #8A70FF;

  --max-content: 1200px;
  --max-content-narrow: 920px;
  --max-content-mini: 400px;
}

input {
  font-family: Avenir, Times;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sign-in {
  height: 500px; 
  width: 100%;
  text-align: center;
  padding-top: 200px;
}

h1 {
  font-size: 28px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 40px;
}

h1.center {
  text-align: center;
}

h1.noMargin {
  margin: 0 0 10px 0;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 40px;
}

h2.center {
  text-align: center;
}
